<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{.Page.Name}}</title>
        <meta name="description" content="{{.Page.Description}}">
        <meta name="description" content="Bekir Anıl Eroğul">
    </head>
    <body>
        <h1>{{.Page.Name}}</h1>
        {{range .Users}}
            <p>
                <strong>{{.ID}} - {{.FirstName}} - {{.LastName}}</strong> <i>by {{.UserName}}</i>
                <br>
                <p>Profil : <a href="{{.Profile}}" target="_blank">{{.UserName}}</a></p>
                {{range .Interests}}
                    <ul>
                        <li>{{.ID}} - {{.Name}}</li>
                    </ul>
                {{end}}
            </p>
        {{end}}
    </body>
</html>